{% extends 'base.twig' %}

{% block content %}

    <div class="inner cover img-responsive center-block ss" id="screenshot" style="background-image: url({{ path('images', {'server': currentServer, 'shot': shot}) }})">
        {% if lastShot %}
            <p class="ss-nav center-block">
                {% if nearShot.prev %}
                    <a href="{{ path('shots', {'server': currentServer, 'shot': nearShot.prev}) }}" class="btn btn-lg btn-default">
                        <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    </a>
                {% else %}
                    <a href="" class="btn btn-lg disabled">
                        <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    </a>
                {% endif %}
                <a href="{{ path('shots', {'server': currentServer, 'shot': "first"}) }}" class="btn btn-lg btn-info">
                    <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </a>
                <a href="{{ path('shots', {'server': currentServer, 'shot': "last"}) }}" class="btn btn-lg btn-info">
                    <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </a>
                {% if nearShot.next %}
                    <a href="{{ path('shots', {'server': currentServer, 'shot': nearShot.next}) }}" class="btn btn-lg btn-default">
                        <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </a>
                {% else %}
                    <a href="" class="btn btn-lg disabled">
                        <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </p>
        {% endif %}

        <p class="ss-feature center-block">
            {% if app.config.servers[currentServer].shame_dir is defined %}
                <a href="/shame" class="btn btn-lg btn-danger">Save to shames</a><br/>
            {% endif %}
        </p>
    </div>
    <p clsss="lead">
        {% if shotTime %}
            <strong>{{ shot|slice(0,-4) }}</strong>
            #{{ shot|slice(-4) }} @ {{ shotTime|date("Y.m.d - H:i:s") }} |
            {{ (shotSize/1024)|round }}kB
        {% endif %}
    </p>

{% endblock %}

{% block javascripts %}
    {% if app.config.cover is defined %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('body').css('background-image', 'url({{ path('images', {'server': currentServer, 'shot': shot}) }})');
        });
        $("#screenshot").empty();
    </script>
    {% endif %}
{% endblock %}