{% extends 'base.twig' %}

{% block content %}

    <div class="inner cover img-responsive mx-auto ss" id="screenshot"
         style="background-image: url({{ path('images', {'server': currentServer, 'shot': shot}) }})">
        {% if lastShot %}
            <p class="ss-nav mx-auto">
                {% if nearShot.prev %}
                    <a href="{{ path('shots', {'server': currentServer, 'shot': nearShot.prev}) }}" class="btn btn-lg btn-secondary">
                        &#x25C4;
                    </a>
                {% else %}
                    <a href="" class="btn btn-lg disabled">
                        &#x25C4;
                    </a>
                {% endif %}
                <a href="{{ path('shots', {'server': currentServer, 'shot': "first"}) }}" class="btn btn-lg btn-info">
                    &#x23EA;
                </a>
                <a href="{{ path('images', {'server': currentServer, 'shot': shot}) }}" class="btn btn-lg btn-warning hidden-xs" target="_blank">
                    &#x25B2;
                </a>
                <a href="{{ path('shots', {'server': currentServer, 'shot': "last"}) }}" class="btn btn-lg btn-info">
                    &#x23E9;
                </a>
                {% if nearShot.next %}
                    <a href="{{ path('shots', {'server': currentServer, 'shot': nearShot.next}) }}" class="btn btn-lg btn-secondary">
                        &#x25BA;
                    </a>
                {% else %}
                    <a href="" class="btn btn-lg disabled">
                        &#x25BA;
                    </a>
                {% endif %}
            </p>
        {% endif %}

        <p class="ss-feature mx-auto">
            {% if app.config.servers[currentServer].shame_dir is defined %}
                <a href="/shame" class="btn btn-lg btn-danger">Save to shames</a><br/>
            {% endif %}
        </p>
    </div>
    <p clsss="lead">
        {% if shotTime %}
            <strong>{{ shot|slice(0,-4) }}</strong>
            #{{ shot|slice(-4) }} @ {{ shotTime|date("Y.m.d - H:i:s") }} |
            {{ (shotSize/1024)|round }}kB
        {% endif %}
    </p>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    {% if nearShot.prev %}
    $("#screenshot").on("swiperight",function(){
        window.location.href = "{{ path('shots', {'server': currentServer, 'shot': nearShot.prev}) }}";
    });
    {% endif %}
    {% if nearShot.next %}
    $("#screenshot").on("swipeleft",function(){
        window.location.href = "{{ path('shots', {'server': currentServer, 'shot': nearShot.next}) }}";
    });
    {% endif %}
    {% if app.config.cover is defined %}
        $(document).ready(function() {
            $('body').css('background-image', 'url({{ path('images', {'server': currentServer, 'shot': shot}) }})');
        });
        $("#screenshot").empty();
    {% endif %}
    </script>
{% endblock %}
