{% extends 'base.twig' %}

{% block content %}

    {% if lastShot %}
    <p class="lead">
        <a href="{{ path('shots', {'server': currentServer, 'shot': lastShot}) }}" class="btn btn-lg btn-default">
            <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </a>
        <a href="{{ path('shots', {'server': currentServer, 'shot': "last"}) }}" class="btn btn-lg btn-info">
            Go to Last ScreenShot
        </a>
        <a href="{{ path('shots', {'server': currentServer, 'shot': lastShot}) }}" class="btn btn-lg btn-default">
            <span class="glyphicon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </a>
    </p>
    {% endif %}

    <div class="inner cover" id="screenshot">
        <img src="{{ path('images', {'server': currentServer, 'shot': shot}) }}" class="img-responsive center-block ss">
    </div>
    <p class="lead">
        <strong>{{ shot|slice(0,-4) }}</strong>
        #{{ shot|slice(-4) }} @ {{ shotTime|date("Y.m.d - H:i:s") }} |
        {{ (shotSize/1024)|round }}kB
    </p>

    {% if app.config.servers[currentServer].shame_dir is defined %}
    <a href="/shame" class="btn btn-lg btn-danger">Save to shame directory</a>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {% if app.config.cover is defined %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('body').css('background-image', 'url({{ path('images', {'server': currentServer, 'shot': shot}) }})');
        });
        $("#screenshot").empty();
    </script>
    {% endif %}
{% endblock %}